@page "/education"

<PageTitle>Центр обучения</PageTitle>

<h3 class="py-4">Добро пожаловать в центр обучения сотрудников!</h3>

<p>
    Компания СТИЛСОФТ работает на благо страны и мира, и ты теперь тоже выполняешь эту почетную и очень ответственную миссию.
</p>
<p>
    Наши сотрудники – большая команда, которая трудится для  достижения общей цели. Очень надеемся, что с твоим приходом мы станем еще более сильными, эффективными и инновационными.
</p>
<p>
    Мы расскажем тебе о нашей компании, о её корпоративной культуре, о подходах и правилах работы – обо всём, что поможет тебе легче адаптироваться. Так ты сможешь комфортно и эффективно развиваться в нашей компании. Ты готов?
</p>

<h5 class="py-4">Чтобы пройти обучение нажмите "Начать обучение".</h5>

<a href="/education/lesson1-1" class="btn btn-primary">Начать обучение</a>

@code {

}
