@page "/education/lesson2-1"

<PageTitle>Урок 2-1</PageTitle>

<h3 class="py-4">ОБЩИЕ ПРАВИЛА</h3>
<p>
    ПРАВИЛА РАБОЧЕГО ДНЯ
    <ul>
        <li>
            Мы приходим на работу
            вовремя, к 09:00.
        </li>
        <li>
            Проходим на территорию компании
            и в офис по электронным пропускам
            (проксимити-картам) или биометрии
            лица. Пропуск персональный.
            Передача пропуска третьим лицам
            недопустима.
        </li>
        <li>
            ДНЯ
            По завершении рабочего дня
            выключаем компьютеры, свет
            и закрываем окна.
        </li>
        <li>
            Если задерживаемся к началу
            рабочего дня, уведомляем
            об этом руководителя
            с указанием причины
            задержки.
        </li>
    </ul>
</p>
<p>
    ПИТАНИЕ И ОТДЫХ
    <ul>
        <li>
            Обедаем в столовой, соблюдая очередность.
            Очередность ежемесячно публикует отдел персонала в корпоративном
            Рокет-чате.
        </li>
        <li>
            Курим в специально отведенных для этого местах.
        </li>
        <li>
            Спортзал посещаем в сменной обуви, бережно относимся к оборудованию.
            Спортзал доступен с 08:00 до 20:00 в нерабочее время.
        </li>
        <li>
            Запись в бассейн и баню ведется отдельно. Подробности в отделе персонала.
            Расписание спортивных секций доступно на корпоративном портале.
        </li>
    </ul>
</p>
<p>
    КОММЕРЧЕСКАЯ ТАЙНА И БЕЗОПАСНОСТЬ
    <ul>
        <li>
            Не разглашаем корпоративную информацию.
        </li>
        <li>
            Храним в тайне свой пароль, не разглашаем пароль коллегам, не используем
            пароли коллег.
        </li>
        <li>
            Блокируем компьютер, когда отходим от него.
            Делается это просто: зажимаем сочетание клавиш Windows + L.
        </li>
        <li>
            Ознакомься с подробной информацией на корпоративном портале в разделах
            Регламент предоставления ИТ-услуг и Памятка пользователя.
        </li>
    </ul>
</p>
<p>
    ВЗАИМОДЕЙСТВИЕ С КОЛЛЕГАМИ
    <ul>
        <li>
            Всегда руководствуемся нормами делового этикета.
            Подробности в Кодексе деловой этики компании (найти документ можно
            на корпоративном портале).
        </li>
        <li>Мы серьезно относимся к работе, но имеем прекрасное чувство юмора.</li>
        <li>
            Мы готовы собраться на мозговой штурм, помочь с идеей и ее реализацией.
        </li>
        <li>
            Мы руководствуемся принципом: «критикуешь – предлагай, а предлагаешь
            – делай». У нас нет места пустой критике – только делу.
        </li>
        <li>
            На общих встречах, планерках благодарим друг друга за совместную работу,
            подчеркиваем достижения на благо общего дела.
        </li>
        <li>
            Наши сотрудники принимают активное участие и занимают призовые места
            в конкурсах профессиональной направленности, а также в спортивных
            соревнованиях на уровне города, края и страны.
        </li>
    </ul>
</p>

<a href="/education/lesson2-2" class="btn btn-primary">Далее</a>

@code {

}
