@page "/education/lesson1-1"

<PageTitle>Урок 1-1</PageTitle>

<h3 class="py-4">О ТОМ, КТО МЫ</h3>
<p>
    Компания СТИЛСОФТ – крупнейший на российском рынке
    разработчик и производитель
    комплексных
    систем
    безопасности. У нас есть свой научно-исследовательский
    институт, который специализируется на инновационных разработках
    и исследованиях в различных областях. Мы делаем мир безопаснее.
</p>
<p>
    Компания ведет свою историю с 2002 года, и это действительно
    большой срок! Мы гордимся, что часть коллектива работает в
    компании с момента ее основания, а средний срок работы
    сотрудника составляет 8 лет.
</p>
<p>
    Наш продукт – целая экосистема, связывающая оборудование, софт
    и сопутствующие сервисы систем безопасности. Это эффективный
    инструмент для успешной работы объектов государственной
    важности.
</p>
<p>
    Мы продолжаем расти
    и остаемся слаженной
    командой даже с таким
    размахом по территории
    страны.
</p>
<p>
    Головной офис
    находится в г. Ставрополь,
    где трудятся более 70%
    сотрудников.
</p>
<p>
    В г. Невинномысск
    находятся наши самые
    большие производственные
    мощности.
</p>
<p>
    Мы осуществляем монтаж
    собственного оборудования
    по всей России.
</p>

<a href="/education/lesson1-2" class="btn btn-primary">Далее</a>

@code {

}
