@page "/education/lesson1-3"

<PageTitle>Урок 1-3</PageTitle>

<h3 class="py-4">ПРЕИМУЩЕСТВА РАБОТЫ В КОМПАНИИ</h3>
<p>
    ДАЁМ УВЕРЕННОСТЬ В ЗАВТРАШНЕМ ДНЕ:
    <ul>
        <li>Сильный и опытный менеджмент.</li>
        <li>Длительное партнерство с крупными заказчиками.</li>
        <li>Премирование по результатам работы и профессиональным юбилеям.</li>
    </ul>
</p>
<p>
    ПРЕДОСТАВЛЯЕМ ПРОФЕССИОНАЛЬНОЕ РАЗВИТИЕ:
    <ul>
        <li>
            Обучение и повышение квалификации
            оплачивается на 100% за счет компании
            (при соблюдении условия – стаж работы
            в компании более 1 года).
        </li>
        <li>
            Возможность перейти
            в смежную профессию.
        </li>
        <li>
            Возможность старта карьеры
            без опыта и развитая система
            наставничества.
        </li>
        <li>
            Свобода в возможностях
            выбора инструментов реализации
            профессиональных задач.
        </li>
    </ul>
</p>
<p>
    РАЗВИВАЕМ КОРПОРАТИВНЫЙ ДУХ:
    <ul>
        <li>
            Наш коллектив — одна команда.
            Каждый стремится сделать работу
            в СТИЛСОФТ максимально
            комфортной для себя и своих
            коллег.
        </li>
        <li>
            Активная корпоративная жизнь
            – более 40 мероприятий
            спортивного, обучающего,
            экстремального характера
            ежегодно.
        </li>
        <li>
            Руководство открыто к диалогу
            – у тебя есть возможность
            обсуждать изменения на любом
            уровне взаимодействия.
        </li>
        <li>
            Дружественная связь между
            сотрудниками – важная
            составляющая корпоративной
            идеи.
        </li>
    </ul>
</p>
<p>
    ПОДДЕРЖИВАЕМ МЕНТАЛЬНОЕ
    И ФИЗИЧЕСКОЕ ЗДОРОВЬЕ:
    <ul>
        <li>Психологическая помощь с 50% скидкой.</li>
        <li>Спортивный зал с современным инвентарем и душевыми.</li>
        <li>
            Футбольное поле на крыше, бассейн и баня, спортивные секции
            для сотрудников и их детей на территории компании в г. Ставрополь.
        </li>
    </ul>
</p>
<p>
    ЗАБОТИМСЯ О СОТРУДНИКАХ:
    <ul>
        <li>
            Поддержка и помощь
            в сложных жизненных ситуациях.
        </li>
        <li>Реферальная программа.</li>
        <li>
            Выплаты при рождении ребенка.
        </li>
        <li>
            Релокационный пакет.
        </li>
        <li>Оплата сверхурочных.</li>
        <li>
            Корпоративные скидки
            у партнеров компании.
        </li>
    </ul>
</p>
<a href="/education/lesson2-1" class="btn btn-primary">Далее</a>

@code {

}
