@page "/education/lesson2-3"

<PageTitle>Урок 2-3</PageTitle>

<h3 class="py-4">ВНУТРЕННИЕ МЕРОПРИЯТИЯ</h3>
<p>
    У НАС ИНТЕРЕСНАЯ И РАЗНООБРАЗНАЯ
    КОРПОРАТИВНАЯ ЖИЗНЬ:
    <ul>
        <li>
            Спортивные мероприятия
            (велопробег, городской забег,
            соревнования по футболу,
            волейболу, баскетболу, теннису,
            нардам, банные дни).
        </li>
        <li>
            Экстремальные спортивные
            мероприятия ( страйкбол,
            туристические походы разной
            степени сложности).
        </li>
        <li>
            День Созидания Совершенства
            – ежегодное масштабное
            мероприятие, в котором
            принимают участие большинство
            сотрудников компании.
        </li>
        <li>
            Конкурсы
            «Лучший сотрудник года»,
            «Лучший руководитель года»:
            гран-при – сертификат
            на путешествие.
        </li>
        <li>
            Тимбилдинги дирекций
            (яхтинг, каякинг,
            сплавы на сапах).
        </li>
        <li>
            Яркие корпоративы
            (Новый год, День рождения
            компании, 23 февраля,
            8 марта, День космонавтики,
            День разработчика).
        </li>
    </ul>
</p>

<p>
    НАШИ ТРАДИЦИИ
    <ul>
        <li>
            Мы поздравляем друг друга с днем рождения, личными и профессиональными
            праздниками.
        </li>
        <li>
            У нас принято отмечать дни рождения в обеденный перерыв
            или согласно разрешению руководителя отдела не раньше 17:00.
        </li>
        <li>
            Мы открыты для предложений и поддерживаем инициативу сотрудника
            привнести в корпоративную жизнь компании свое здравое увлечение
            (например, придумать новое корпоративное мероприятие).
        </li>
        <li>
            Мы самостоятельно организуем все мероприятия и праздники внутри
            компании: от идеи до реализации.
        </li>
        <li>
            ХОЧЕШЬ СТАТЬ ЧАСТЬЮ КОМАНДЫ ОРГАНИЗАТОРОВ ИЛИ ВВЕСТИ НОВУЮ
            ТРАДИЦИЮ – ПРИХОДИ В ОТДЕЛ ПЕРСОНАЛА, И МЫ РАССКАЖЕМ,
            КАК ПОПАСТЬ В ЭТУ ГРУППУ ИЛИ РЕАЛИЗОВАТЬ ТВОЙ ЗАМЫСЕЛ.
        </li>
    </ul>
</p>

<a href="/education/lesson-temp-end" class="btn btn-primary">Далее</a>

@code {

}
