@page "/education/lesson-temp-end"

<PageTitle>Центр обучения</PageTitle>

<h3 class="py-4">Добро пожаловать в центр обучения сотрудников!</h3>

<p>
    Итак, наш новый коллега, надеемся теперь тебе немного понятнее, кто мы и как
    будем взаимодействовать.
</p>
<p>
    Дополнительные вопросы ты всегда сможешь задать своему руководителю,
    наставнику или сотруднику отдела управления персоналом.
</p>
<p>
    Еще раз поздравляем!
</p>

<h5 class="py-4">ТЕПЕРЬ ТЫ – ЧАСТЬ КОМАНДЫ СТИЛСОФТ!</h5>

@code {

}
