@page "/education/lesson1-2"

<PageTitle>Урок 1-2</PageTitle>

<h3 class="py-4">ЦЕННОСТИ КОМПАНИИ</h3>

<CardSlide Title="НАШИ СОТРУДНИКИ">
    Работники компании – главная ценность,
    поэтому интересы каждого, кто трудится в
    компании, на первом месте.
</CardSlide>
<CardSlide Title="ВЕРА В УСПЕХ">
    Нам по плечу любые задачи, потому что даже
    в самой сложной ситуации мы продолжаем
    верить в успех и не опускаем руки. Это дает
    нам энергию для самых фантастических
    свершений.
</CardSlide>
<CardSlide Title="СВОБОДА И РАЗВИТИЕ">
    В нашей компании поощряются свобода
    творчества и изобретений, креатив и
    саморазвитие, профессиональный рост.
    Для этого создаются все необходимые условия.
</CardSlide>
<CardSlide Title="ОТВЕТСТВЕННОСТЬ">
    Наши сотрудники делают свою работу на
    совесть, осознавая ответственность перед
    компанией и страной.
</CardSlide>
<CardSlide Title="ЧЕСТНОСТЬ">
    Компания всегда исполняет свои обязательства
    перед сотрудниками, а сотрудники перед
    компанией. Наш бизнес строится на доверии
    заказчиков к нам, а наше кредо – максимально
    полно решить задачу заказчика по прозрачным
    для него правилам.
</CardSlide>

<MudButton Href="/education/lesson1-3"
           Variant="Variant.Filled"
           EndIcon="@Icons.Material.Filled.ArrowForwardIos"
           Color="Color.Primary">
    Далее
</MudButton>

@code {

}
