@page "/education/lesson2-2"

<PageTitle>Урок 2-2</PageTitle>

<h3 class="py-4">ВНУТРЕННИЕ КОММУНИКАЦИИ</h3>
<Paragraph>
    Общаемся в корпоративном мессенджере. Настроить приложение на рабочем
    компьютере поможет системный администратор. А еще мессенджер можно
    скачать на телефон. Для этого введи название «StilRocket» в магазине (AppStore,
    Play Market) и установи на своё устройство.
</Paragraph>
<Paragraph>
    PUBLIC – это обязательный чат, в котором публикуется важная
    информация о нашей жизни и работе.
</Paragraph>
<Paragraph>
    БЕСЕДКА – чат, в котором сотрудники задают вопросы, обращаются за помощью,
    обсуждают насущные вопросы и др. Этот чат не является обязательным.
</Paragraph>
<Paragraph>
    ДЕНЬ БЛАГОДАРНОСТИ – это уютный чат, в котором мы благодарим
    сотрудников или отделы за оказанную помощь.
</Paragraph>
<Paragraph>
    ИНФОРМАЦИЮ О СОТРУДНИКАХ КОМПАНИИ, НОВОСТЯХ И ИЗМЕНЕНИЯХ
    ЛЕГКО НАЙТИ НА КОРПОРАТИВНОМ ПОРТАЛЕ.
</Paragraph>

<MudButton Href="/education/lesson2-3"
           Variant="Variant.Filled"
           EndIcon="@Icons.Material.Filled.ArrowForwardIos"
           Color="Color.Primary">
    Далее
</MudButton>

@code {

}
