@page "/education/lesson1-1"

<PageTitle>Урок 1-1</PageTitle>

<h3 class="py-4">О ТОМ, КТО МЫ</h3>

<Paragraph>
	Компания СТИЛСОФТ – крупнейший на российском рынке
	разработчик и производитель
	комплексных
	систем
	безопасности. У нас есть свой научно-исследовательский
	институт, который специализируется на инновационных разработках
	и исследованиях в различных областях. Мы делаем мир безопаснее.
</Paragraph>
<Paragraph>
	Компания ведет свою историю с 2002 года, и это действительно
	большой срок! Мы гордимся, что часть коллектива работает в
	компании с момента ее основания, а средний срок работы
	сотрудника составляет 8 лет.
</Paragraph>
<Paragraph>
	Наш продукт – целая экосистема, связывающая оборудование, софт
	и сопутствующие сервисы систем безопасности. Это эффективный
	инструмент для успешной работы объектов государственной
	важности.
</Paragraph>
<Paragraph>
	Мы продолжаем расти
	и остаемся слаженной
	командой даже с таким
	размахом по территории
	страны.
</Paragraph>
<Paragraph>
	Головной офис
	находится в г. Ставрополь,
	где трудятся более 70%
	сотрудников.
</Paragraph>
<Paragraph>
	В г. Невинномысск
	находятся наши самые
	большие производственные
	мощности.
</Paragraph>
<Paragraph>
	Мы осуществляем монтаж
	собственного оборудования
	по всей России.
</Paragraph>


<MudButton Href="/education/lesson1-2"
		   Variant="Variant.Filled"
		   EndIcon="@Icons.Material.Filled.ArrowForwardIos"
		   Color="Color.Primary">

	Далее
</MudButton>


@code {

}
